img {
            width: 50px;
            border-radius: 10px;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }
        img:hover {
            animation: pop 0.4s forwards; 
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        }
        @keyframes pop {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2); 
            }
            100% {
                transform: scale(1.5); 
            }
        }

        h1{
        	text-align: center;
        	background-color: #162321;
        	color: white;
        }  

        body{
        	background-color: #6d9272;
        }

        .table td, .table th {
            border: 1px solid grey;
        }